<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TourQueryManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TourQueryManager.Properties.Settings>
            <setting name="mysqlConnStr" serializeAs="String">
                <value>server=59.94.224.139;user id=pky;password=pky123;persistsecurityinfo=True;database=tourquerymanagement;port=55;SslMode=none</value>
            </setting>
            <setting name="mysqlConnStrMacBook" serializeAs="String">
                <value>server=10.0.2.2;user id=pky;password=pky123;persistsecurityinfo=True;database=tourquerymanagement;SslMode=none</value>
            </setting>
            <setting name="mysqlConnStrLocal" serializeAs="String">
                <value>server=localhost;user id=pky;password=pky123;persistsecurityinfo=True;database=tourquerymanagement;SslMode=none</value>
            </setting>
            <setting name="mysqlConnStrExcursion" serializeAs="String">
                <value>server=localhost;user id=excursion;password=excursion123;persistsecurityinfo=True;database=tourquerymanagement;SslMode=none</value>
            </setting>
            <setting name="mysqlConnStrUbuntu" serializeAs="String">
                <value>server=192.168.1.76;user id=pky;password=pky123;persistsecurityinfo=True;database=tourquerymanagement;SslMode=none</value>
            </setting>
            <setting name="mysqlConnStrPublic" serializeAs="String">
                <value>server=59.94.224.139;user id=pky;password=pky123;persistsecurityinfo=True;database=tourquerymanagement;port=55;SslMode=none</value>
            </setting>
        </TourQueryManager.Properties.Settings>
    </userSettings>
</configuration>